<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administracion</title>
    <link rel="stylesheet" href="./styles_admin.css">
</head>
<body>
    <header >
        <div>
            <h1 class="group">Grupo 3</h1>
            <h1 class="shop">Shop</h1>
        </div>
    </header>
    <main>
        <div class="main-conteiner">
            <div class="side-bar">
                <span class="side-bar-home-logo"></span>
                <a class="side-bar-home-btn" href="home.hmtl" class="Inicio">Home</a>
                <span class="side-bar-user-logo"    ></span>
                <a class="usuario" href="user.html" >Usuario</a>
              </div>

              <div class="admin-dash">
                  <div class="admin-dash-title">
                    <h2>Usuarios </h2>
                    <span class="logo-user"></span>
                    <button type="submit"> Regresar </button>
                  </div>

                  <div class="admin-dash-main">
                      <div class="admin-dash-main-title">
                          <h3>Crear Administrador</h3>
                      </div>

                      <div class="admin-dash-main-info">
                          <ul>
                              <li>Nombre</li>
                              <input type="text" name="user" id="user">
                              <li>Estado</li>
                              <input type="text" name="state" id="user-state">
                              <li>Condicion</li>
                              <input type="text" name="condition" id="user-condition">
                              <li>Precio</li>
                              <input type="text" name="precio" id="user-price">
                              <li>Descripción</li>
                              <input type="	text" name="description" id="user-description">
                          </ul>
                          <button id='boton-agregar'type="submit">Agregar</button>
                        
                          <div class="admin-dash-main-user-list">
                              <ul>
                                  <li>ID</li>
                                  <li>Nombre</li>
                                  <li>Apellido</li>
                                  <li>Correo</li>
                                  <li>Pais</li>
                                  <li>Editar</li>
                                  <li>Eliminar</li>
                              </ul>
                              <button id='boton-editar'type="submit">Editar</button>
                              <button type="submit">Eliminar</button>
                          </div>
                      </div>
                  </div>
              </div>
        </div>
    </main>
    <footer>
        <div class="pie">
            <div class="contenedor">
                <div class="informacion">
                    <h2>Grupo3 SHOP</h2>
                    <p>(+57) 31111111111</p>
                    <p>grupo3@gmail.com</p>
                    <p>Colombia</p>
                </div>
                <div class="contacto">
                    <h2>Contacto</h2>
                    <p>(+57) 31111111111</p>
                    <p>grupo3@gmail.com</p>
                    <p>Colombia</p>
                </div>
                <div class="acerca">
                    <h2>Acerca de</h2>
                    <p>Preguntas Frecuentes</p>
                    <p>Ayuda y soporte</p>
                    <p>Politicas de privacidad</p>
                </div>
            </div>
        </div>
    </footer>    
</body>
</html>
